@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@font-face {
    font-family: "Systopie";
    src: url("../assets/fonts/SystopieBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Quicksand";
}

/* Navbar */
.bg-nav-apple {
    background-color: #33ac41;
}

.navbar-brand {
    font-family: "Systopie", sans-serif;
}

.navbar-nav {
    display: flex; /* Menggunakan Flexbox */
    justify-content: center; /* Menyelaraskan item di tengah */
    align-items: center; /* Menyelaraskan item secara vertikal */
}

.nav-icon {
    margin-left: -15px;
}

/* Carousel Styling */
#carouselImg {
    object-fit: cover;
    height: 100vh;
}

@media (max-width: 576px) {
    #carouselImg {
        height: 300px !important; /* Set a smaller height for small screens */
    }
    .caption-heading {
        font-size: 1.8rem !important; /* Adjust heading size for small screens */
    }
    .caption-text {
        font-size: 1.2rem !important; /* Adjust text size for small screens */
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Gelap dengan transparansi */
    z-index: 1; /* Pastikan overlay berada di atas gambar */
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5); /* Warna latar belakang indikator */
    width: 10px; /* Lebar indikator */
    height: 10px; /* Tinggi indikator */
    margin: 0 2px; /* Jarak antar indikator */
}

.carousel-indicators .active {
    background-color: #fff; /* Warna indikator aktif */
}

/* Styling Our Mission */
.btn-apple {
    background-color: #33ac41 !important;
    color: white !important;
}

.btn-apple:hover {
    background-color: #2f8038 !important;
}

.stat-background {
    background-color: #33ac41; /* Warna latar belakang */
    padding-top: 10px; /* Tambahkan padding untuk ruang di dalam */
    border-radius: 8px; /* Sudut melengkung (opsional) */
}

/* Styling Card Our Services */
.card {
    border: 1px solid #33ac41; /* Warna border */
    border-radius: 8px; /* Sudut melengkung */
    transition: transform 0.2s; /* Efek transisi */
}

.card:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
    border-color: #33ac41;
}

/* Styling card jenis sampah */
.small-card {
    width: 80%; /* Atur lebar card sesuai kebutuhan */
    margin: auto; /* Pusatkan card */
}

/* Pop-up Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* Pop-up Login/ Register */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 350px;
    padding: 30px;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

#login-logo {
    width: 80px; /* Sesuaikan lebar logo */
    height: auto; /* Pertahankan rasio aspek logo */
    display: block;
    margin: 0 auto 0 auto; /* Pusatkan logo dan beri jarak di bawahnya */
}

.popup .close-btn {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

/* Styling untuk checkbox dan label */
.form-checkbox {
    display: flex;
    align-items: center;
    gap: 5px; /* Jarak antara checkbox dan label */
}

.form-checkbox input[type="checkbox"] {
    margin: 0; /* Menghapus margin default */
}

.form-element {
    margin-bottom: 20px;
}

.form-element input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Notif login berhasil */
.notification {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #33ac41;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1001;
}

.notification button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #33ac41;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notification button:hover {
    background-color: #288a2f;
    color: white;
}

/* Custom Icon Profile */
.custom-icon {
    font-size: 30px; /* Ukuran ikon profil */
    margin-left: 10px; /* Jarak antara ikon dan item navigasi */
}

/* Dropdown Profile */
.no-caret::after {
    display: none !important; /* Hides the default dropdown indicator */
}

/* Custom styles for dropdown */
.dropdown-menu {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dee2e6; /* Border color */
}

.dropdown-item {
    color: #212529; /* Text color */
}

.dropdown-item:hover {
    background-color: #e9ecef; /* Hover background color */
    color: #495057; /* Hover text color */
}
